/* Style for the bit lights
    > First is default: OFF
    > Second is: ON
    */

.bit {
    -fx-padding: 2;
}

.bit .box {
    -fx-background-color: #818285;
}

.bit:selected .box, .bit:selected .mark{
    -fx-background-color: #fce303;
}
