/* Style for the bit lights
    > First is default: OFF
    > Second is: ON
    */

.bit {
    -fx-padding: 2;
    -fx-background-color: #818285;
    -fx-text-fill: #000000;
}

.bit:selected {

    -fx-background-color: #fce303;
}
